<div class="heading" id="heading">
    <div class="menubar">
      IDONTLIKEHIPHOP ECOUTER PROJECT | <a href="/">HOME</a> | <span id="loginlink"><a href="/login">LOGIN</a> <a href="/register">REGISTER</a></span><span id="profilelink"><span id="profileinfo">USERNAME: __ | REVIEWS: 100 | </span><a href="/collection">COLLECTION</a> <a href="/logout">LOGOUT</a></span>
    </div>
</div>
<script type="text/javascript" src="header.js"></script>