<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel= "stylesheet" type= "text/css" href= "styles/style.css">
    <link rel= "stylesheet" type= "text/css" href= "styles/index.css">
    <title>감상이싫어</title>
  </head>
  <body>
    <%- include('header'); -%>
    <div class="container">
      <!-- Add more cards as needed -->
    </div>
    <div id="display">
      <div><img class="displayimage" src="images/0.png" id="displayImage"/></div>
      <div class="description">
        <p>
          타입: <span id="type"></span><br/>
          아티스트: <span id="artist"></span><br/>
          이름: <span id="name"></span><br/>
          릴리즈: <span id="releaseDate"></span><br/>
        </p>
        <span id="insert">
          <hr/>
          <p>
          <div class="review insertBox">
            <p class="reviewBox" id="reviewInsert" contenteditable="true"></p>
            <p><span class="insertAreaSpan"><span id="deleteSpan"><a class="upload" id="delete">지우기</a> | </span><a class="upload" id="upload">올리기</a></span></p>
          </div>
          </p>
        </span>
        <span id="reviews">
          <hr/>
          <p><span id="user">username</span> <a class="nextButton" id="nextUserButton">-></a></p>
          <div class="review">
            <p class="reviewBox" id="reviewBox">
            </p>
          </div>
        </span>
        <span id="noreviews">
          <hr/>
          <p><span id="user">리뷰가 없다 :(</span></p>
        </span>
      </div>
    </div>
    </div>
    <div id="about" class="about">
      <p>
      
        <p>
          <div class="aboutText">  감상이싫어 사이트에 오신걸 환영합니다! </div>
        </p>
        
        <p>
          <div class="aboutText"> 정해진 기간 내에 앨범을 리뷰하면 </div>
          <div class="aboutText"> 리뷰 포인트를 하나 모을 수 있습니다 </div>
        </p>

        <p>
          <div class="aboutText"> 릴리즈 타입 <a class="nextButton" id="nextTypeButton">-></a> </div>
          <div class="aboutText" id="typeDescription"></div>
        </p>

        <p>
          <div class="aboutText"> 위에 있는 앨범 커버를 누르고 </div>
          <div class="aboutText"> 앨범의 정보를 살펴보세요! </div>
        </p>
    </p>
    <script type="text/javascript" src="index.js"></script>
  </body>
</html>