<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel= "stylesheet" type= "text/css" href= "styles/style.css">
    <link rel= "stylesheet" type= "text/css" href= "styles/login.css">
    <title>Login</title>
  </head>
    <body>
        <%- include('header'); -%>
        <div class="formwrap">
            <div class="form">
            
                <div class="container">

                    <p>
                        <b>Email</b>
                        <input type="text" placeholder="Enter Email" id="email">
                    </p>

                    <p>
                        <b>Username</b>
                        <input type="text" placeholder="Enter Username" id="username">
                    </p>
                
                    <p>
                        <b>Password</b>
                        <input type="password" placeholder="Enter Password" id="password">
                    </p>

                    <p>
                        <b>Password</b>
                        <input type="password" placeholder="Enter Password Again" id="passwordverify">
                    </p>

                    <p>
                        <a id="register">Register</a>
                    </p>

                    <p id="error"></p>
                </div>

            </form>
        </div>
        <script type="text/javascript" src="register.js"></script>
    </body>
</html>